In [7]:
"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple"""

data=["My name is Ali Shair",[17,18.5,"pw skills",True, 4+7j],3.14,(14,15.5,"This is tupple",[1,2,3],(1,2,3))]
print(data)

['My name is Ali Shair', [17, 18.5, 'pw skills', True, (4+7j)], 3.14, (14, 15.5, 'This is tupple', [1, 2, 3], (1, 2, 3))]

In [5]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""
#i)...Data type is string(str) as inverted commas are used
#ii)...Data type is str as list is enclosed in innverted commsa
#iii)...Data type is list and strings are presnet at each index
#iv)... Data type is float as decimal is used

In [6]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **"""
#i)...The / operator performs standard division and returns the result as a floating-point number (even if both operands are integers).
result = 10 / 3
print(result)  # Output: 3.3333333333333335
#ii)....The % operator returns the remainder of the division of the left operand by the right operand.
remainder = 10 % 3
print(remainder)  # Output: 1
#iii)....The // operator performs floor division, which returns the largest integer less than or equal to the quotient. Essentially, it discards the decimal part of the division result.
floored_result = 10 // 3
print(floored_result)  # Output: 3
#iv)...The ** operator is used to raise the left operand to the power of the right operand.
power_result = 2 ** 3
print(power_result)  # Output: 8

3.3333333333333335
1
3
8

In [10]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""
my_list = [42, "Hello", 3.14, True, [1, 2, 3], (4, 5), {'key': 'value'}, None, 5+7j,False ]
for a in my_list:
    print("element:",a,"and Data type",type(a))

element: 42 and Data type <class 'int'>
element: Hello and Data type <class 'str'>
element: 3.14 and Data type <class 'float'>
element: True and Data type <class 'bool'>
element: [1, 2, 3] and Data type <class 'list'>
element: (4, 5) and Data type <class 'tuple'>
element: {'key': 'value'} and Data type <class 'dict'>
element: None and Data type <class 'NoneType'>
element: (5+7j) and Data type <class 'complex'>
element: False and Data type <class 'bool'>

In [20]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

A=int(input("ENter A"))
B=int(input("ENter B"))
while (B!=0 and A%B==0):
    print("The number A is completely divisible by B")
    print("The number of times it is divisible is:", A//B)
    break
    
else:
    print("The number is not completely divisble")

ENter A 15
ENter B 0

The number is not completely divisble

In [1]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""


a=list(range(1,26))

for i in a:
    if(i%3==0):
     print(i,"is divisble by 3")
    else:
       print(i,"is not divisble by 3")

1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3
25 is not divisble by 3

In [ ]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

"""...Mutable data types can be changed after creation. Examples include lists, dictionaries, and sets.
...Immutable data types cannot be changed after creation. Examples include strings, tuples, integers, floats, and booleans."""
#Mutable Example using List
my_list = [1, 2, 3]
print("Original list:", my_list)

my_list[1] = 10  # Changing the second element
print("Modified list:", my_list)

#Immutable example using string
#...str="Ali Shair"
#...str[1]="t" #supposed to change "l" to "t" but will give error as string is immutable data type